<div class="navi fadeIn">
    <div class="navi-items">
        <ul>
            <li><a href="#/instructions"> How This Demo Works</a></li>
            <li><a href="https://wwww.23andme.com"> Connect with 23andMe</a></li>
        </ul>
    </div>
</div>
<div class="container middle">
    <h1 class="floating"><span class="bold"> Let's Try a Demo!</span></h1>
    <h1 class="smaller"> Connect Your 23andMe Account Through Our Portal To Unlock Your Talents! </h1>
    <div ng-click="open()"><img class="floating" id='connect-health-data-btn' src='https://connect.humanapi.co/assets/button/blue.png' /></div>
</div>
</div>
