<div class="navi fadeIn">
    <div class="navi-items">
        <ul>
            <li><a href="#/landing"> Home</a></li>
            <li><a href="#/instructions"> How This Demo Works</a></li>
            <li><a href="https://23andme.com"> Connect with 23andMe</a></li>
        </ul>
    </div>
</div>
<div class="container middle">
    <h1 class="floating"><span class="bold"> Instructions!</span></h1>
    <ul>
        <li>
            <h2> Register at 23andMe for a free account to demo Talent Gene.</h2></li>
        <li>
            <h2> Sign-up through the form on the home page.</h2></li>
        <li>
            <h2> You will be redirected to 23andMe, please follow through with authorization.</h2></li>
        <li>
            <h2>Click the lock on the next page after authorization, to see your hidden talents!</h2></li>
    </ul>
</div>

  
    
	     