<div class="navi fadeIn">
    <div class="navi-items">
        <ul>
            <li><a href="#/instructions"> How This Demo Works</a></li>
            <li><a href="https://23andme.com"> Connect with 23andMe</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <img src='./img/logo.png' />
    <h1><span class="bold">New to Talent Gene? </span> Sign Up Here & Demo The Platform:</h1>
    <input class="form-field" placeholder="Email" ng-model="user.email">
    </input>
    <input class="form-field" type="password" placeholder="Password" ng-model="user.password">
    </input>
    <p>By creating an account, I accept Talent Gene's <a href="#">Terms of Service</a> and <a href="#">Privacy Policy.</a></p>
    <div class="btn" type="submit" ng-click="postUser(user)">
        Sign Up
    </div>
</div>





































<!-- <div class="navi fadeIn">

  <a href="#">
    <img src='./img/logo.png'/>
  </a>

  <div class="navi-items">
    <a href="#">Github</a> 
    <a href="https://api.23andme.com/authorize/?redirect_uri={{button}}/&response_type=code&client_id=8c5bc3cd41932f405c80612248b7ae43&scope=basic rs123">Connect with 23andMe</a></li>
  </div>

</div> -->
      
      <!-- HERO -->

 		  <!-- <div class="title">
        <p class="title-words"> Unlock Your <span class="talents">True</span> Potential</p>   
      </div> -->

     <!--  <div class="hero-divi banner"></div> -->
     <!--  <div class="middle banner"> -->

       <!--  <form="form-horizontal"> -->
                       <!-- ng-submit="postUser(user)" -->
          <!-- 
                           <div class="row">
                           <div class="form-group col-xs-6" ><label for="email">Email</label><input ng-model="user.email" class="form-control" id="email" placeholder="email@you.com (so that we can contact you)"  data-trigger="manual"  type="text" required>
                           </div>
                           </div>
                           

                           <div class="row">
                           <div class="form-group col-xs-6">
                           <label for="password">Password</label><input ng-model="user.password" type="password" class="form-control" id="password" placeholder="Your password"  data-trigger="manual" type="text" required>
                           </div>
                           </div>
                          
         <button type="submit"   ng-click="postUser(user)" class="btn btn-success">Sign up!</button> </div> -->
<!-- 
                         </form>  -->
       <!--  <p class="floating"> dcfvgbhnjmk,l.sxdcfvgbhnjmk</p> -->   
     <!--  </div> -->

     
    <!--   
			<div class= "first banner">
			 			<button class=" bttn" data-toggle="modal"
                        data-target="#SignUpModal">Sign up</button> -->
				
			 <!-- <button class=" bttn">Login</button>   
			 </div> --> --> <!-- data-toggle="modal" data-target="#LoginModal" -->
            
             <!-- SIGN-UP MODAL -->

           <!--  <div id="SignUpModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="SignUpModal" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                   <h3 id="myModalLabel">Join Today and Discover Your True Potential!</h3>
                   </div>

                   <div class="modal-body">
 -->
                 <!--       <form="form-horizontal col-xs-12">
                       <!ng-submit="postUser(user)" -->
          
                          <!--  <div class="row">
                           <div class="form-group col-xs-6" ><label for="email">Email</label><input ng-model="user.email" class="form-control" id="email" placeholder="email@you.com (so that we can contact you)"  data-trigger="manual"  type="text" required>
                           </div> -->
                           <!-- </div> -->
                           

                         <!--   <div class="row">
                           <div class="form-group col-xs-6">
                           <label for="password">Password</label><input ng-model="user.password" type="password" class="form-control" id="password" placeholder="Your password"  data-trigger="manual" type="text" required>
                           </div>
                           </div> -->
                          
       <!--   <button type="submit"   ng-click="postUser(user)" class="btn btn-success">Sign up!</button> </div>

                         </form>  -->  <!-- data-dismiss="modal" --> 

                    <!--  </div>

                    <div class="modal-footer">
                        <button class="btn"  aria-hidden="true">Cancel</button> 
                      </div>

                    </div>
                     </div>
                     </div>
   -->






            <!--  <div class="modal fade" id="SignUpModal" tabindex="-1" role="dialog" aria-labelledby="SignUpModal" aria-hidden="true">
              	<div class="modal-dialog">
        			<div class="modal-content">
            			<div class="modal-header">
            				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
            				<h4 class="modal-title">SignUp!!</h4>
            			</div>
            		<div class="modal-body">

                		<form class="pure-form pure-form-aligned" ng-submit="postUser(user)">
                       <div class="pure-control-group">
                          <label for="email">Email</label>
            	            <input id="email" type="email" class="form-group" placeholder="email address" ng-model="user.email" required>
                          </div>

                      <div class="pure-control-group">
                         <label for="password">Password</label>
            				     <input id="password" type="password" class="form-group" placeholder="password" ng-model="user.password" required>
                        </div>
             			 	
                    <button class="pure-button pure-button-primary" data-dismiss="modal"l class="close">Submit!</button> <! data-dismiss="modal" -->
        	<!-- 			</form> 

            		</div>
            
    				</div>
  				</div>
			 </div> 
                 --> 
<!-- 
 </div>
</div> -->




                  <!-- LOGIN  MODAL # 2-->
<!-- 
			 <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModal" aria-hidden="true">
              	<div class="modal-dialog">
        			<div class="modal-content">
            			<div class="modal-header">
            				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
            				<h4 class="modal-title">Login</h4>
            			</div>
            		<div class="modal-body">
                		<form class="home-form" ng-submit="getUser(user)">
            				<input type="password" class="form-group" placeholder="password" ng-model="user.password" required>
            				<input type="email" class="form-group" placeholder="email address" ng-model="user.email" required>

             			 	<button type="button" class="btn btn-primary"  href="#/demo">Submit</button>
        				</form> 

            		</div>
            
    				</div>
  				</div>
			 </div>